<div class="navbar-wagon">
  <!-- Logo -->
  <%=link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.jpg", class: "img-circle" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <!-- Text link -->
    <%= link_to "Contact", "mailto:contact@mistercocktail.com", class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Blog</a></li>
          <li><%= link_to "This month", recent_cocktails_path%></li>
        </ul>
      </div>
    </div>

    <!-- Button (call-to-action) -->
    <%= link_to "New cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>
</div>
